@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap');

body {
  margin: 0;
  font-weight: 900;
  font-family: 'Lucida Bright';
  color: #44d2f9;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url('Background.jpeg');
  background-size: cover;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.Minter {
  max-width: 80vh;
  max-height: 80vh;
  padding: 60px 100px;
  margin: 0 auto;
  text-align: left;

}

input {
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: groove;
  font-size: 16px;
  width: 100%;
  border-color: rgba(4, 4, 5, 0.1);
  line-height: 32px;
}

input:focus {
  outline: none;
  border-color: rgba(4, 4, 5, 0.4);
}


button {
  padding: 9px 16px;
  max-height: 70px;
  /*box-shadow: 4px 4px 15px 0 rgb(0 0 0 / 20%);*/
  border-color: #000000;
  color: #ffffff;
  background-color: #ff0000;
  border-radius: 8px;
  align-items: center;
  font-size: 16px;
  font-weight: 500;
  text-align: center;
  font-weight: bold;
  cursor:pointer;
}

button:hover {
  margin-top: -1px;
}

#title {
  padding-top:0px;
}

.uploadFile {
  border: 4px dashed rgba(4, 4, 5, 0.1);
  border-radius: 16px;
  text-align: center;
  padding: 32px 60px;
}

#walletButton {
  text-align: right;
  float:right;
  margin-bottom: 50px;
  line-height: 16px;
}
/*
#walletButton:focus {
  outline:none;
  border: none;
}

#walletButton:hover {
  outline:none;
  border :none;
} */

#mintButton {
  margin-top: 10px;
  border-color: #000000;
  background-color: #ff0000;
  color: #ffffff;
}


.nav-bar {
  height: 60px;
  border-bottom: 1px solid #44d2f9;
  display: flex;
  align-items: center;
  background-color: rgba(80, 78, 78, 0.2);
}

.nav-wrap {
  display: flex;
  justify-content: space-between;
}